{% extends "layouts/layout1.html" %}
{% block title %}
User Profile
{% endblock %}
{% block content %}
<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Account Manager</h1>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            You Can Link The Following Accounts:
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <h4>Social Sites</h4>

                            <div class="row">
                                <div class="col-lg-1">
                                    <a class="btn btn-block btn-social-icon btn-facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                                <div class="col-lg-3">
                                Sign in with Facebook
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-1">
                                    <a class="btn btn-block btn-social-icon btn-google-plus">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                                <div class="col-lg-3">
                                Sign in with Google
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-1">
                                    <a class="btn btn-block btn-social-icon btn-instagram">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </div>
                                <div class="col-lg-3">
                                Sign in with Instagram
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-1">
                                    <a class="btn btn-block btn-social-icon btn-linkedin">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </div>
                                <div class="col-lg-3">
                                Sign in with Linkedin
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-1">
                                    <a class="btn btn-block btn-social-icon btn-twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>
                                <div class="col-lg-3">
                                Sign in with Twitter
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <h4>Fitness Sites</h4>
                            <div class="row">
                                <div class="col-lg-1">
                                    <a href='{{sites["fitbit"]}}'><i class="fa fa-plus"></i></a>
                                    <a class="btn btn-block btn-social-icon btn-plus" >
                                    </a>
                                </div>
                                <div class="col-lg-3">
                                    Sign in with Fitbit
                                </div>
                            </div>
                        </div>

                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

